<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">
  <label for="todoInput">Iveskite nauja elementa</label>
  <br />
  <input id="todoInput" type="text" placeholder="What to do?" [(ngModel)]="model.todoInput" />
  <br />
  <button type="button" class="btn btn-primary" (click)="onClick()">Add Item</button>
</div>
<div>
  <app-to-do-item
    *ngFor="let item of items"
    [dtoValue]="item"
  ></app-to-do-item>
</div>

<router-outlet></router-outlet>
